* text=auto !eol
html/.htaccess -text
html/1stalertview.php -text
html/1stcustomer.php -text
html/1stequiptype.php -text
html/1stfilter.php -text
html/1sthost.php -text
html/1stlaunch.php -text
html/1stmaint.php -text
html/1stprocessor.php -text
html/1streports.php -text
html/1strule.php -text
html/1stsaves.php -text
html/1stview.php -text
html/2ndreports.php -text
html/ChangeLog.txt -text
html/admin/.htaccess -text
html/admin/ChangeLog.txt -text
html/admin/app.php -text
html/admin/data/commands -text
html/admin/data/convertpw.php -text
html/admin/data/install.txt -text
html/admin/data/pgsql.secframe -text
html/admin/faq.txt -text
html/admin/group.php -text
html/admin/images/background.gif -text
html/admin/images/tile.gif -text
html/admin/images/title.gif -text
html/admin/index.php -text
html/admin/license.txt -text
html/admin/scripts/php/queue.php -text
html/admin/secversion -text
html/admin/user.php -text
html/alert.php -text
html/background.html -text
html/background.php -text
html/calendar.php -text
html/config.php -text
html/customer.php -text
html/data/install -text
html/data/pgsql.msyslog -text
html/data/pgsql.secframe -text
html/equiptype.php -text
html/faq.txt -text
html/filter.php -text
html/header.php -text
html/host.php -text
html/images/Exclamation.gif -text
html/images/IEWin.css -text
html/images/Px_Clear.gif -text
html/images/background.gif -text
html/images/bg2.gif -text
html/images/bg3.gif -text
html/images/blue.gif -text
html/images/csc_name.gif -text
html/images/no.gif -text
html/images/ok.gif -text
html/images/over_nav_qing.gif -text
html/images/tile.gif -text
html/images/title.png -text
html/include_main.css -text
html/index.php -text
html/launch.php -text
html/license.txt -text
html/logout.php -text
html/logwatch.php -text
html/maintenance.php -text
html/menu.php -text
html/old1stview.php -text
html/processor.php -text
html/reports/cisco-pix-bandwidthbreakdown.php -text
html/reports/severity-facility.php -text
html/reports/vpnuserusage.php -text
html/rule.php -text
html/runlog.txt -text
html/scripts/bin/analyzetsyslog -text
html/scripts/bin/archivelogs -text
html/scripts/bin/autovac -text
html/scripts/bin/convertlogtosyslog -text
html/scripts/bin/createtmpoutputfiles -text
html/scripts/bin/expirelogs -text
html/scripts/bin/logbreakout -text
html/scripts/bin/nightlyroguecheck -text
html/scripts/bin/pgsqlhealth -text
html/scripts/bin/pgsqllogin -text
html/scripts/bin/processlogs -text
html/scripts/bin/rebuild.php -text
html/scripts/bin/vacuumdb -text
html/scripts/bin/vacuumtsyslog -text
html/scripts/bin/weeklyindexrebuild -text
html/scripts/crontab/root -text
html/scripts/php/analyzetsyslog.php -text
html/scripts/php/archive.php -text
html/scripts/php/autovac.php -text
html/scripts/php/expire.php -text
html/scripts/php/nightlyroguecheck.php -text
html/scripts/php/processlogs.php -text
html/scripts/php/vacuumdb.php -text
html/scripts/php/vacuumtsyslog.php -text
html/scripts/php/weeklyindexrebuild.php -text
html/smtversion -text
html/template.php -text
html/view.php -text
html/viewsaves.php -text
lib/generalweb.php -text
lib/pgsql.php -text
lib/pix.php -text
lib/secframe.php -text
log.d/.db.conf.swo -text
log.d/.db.conf.swp -text
log.d/CENTRAL_LOGSERVER -text
log.d/bin/dumplog.pl -text
log.d/bin/getconfig -text
log.d/bin/listconfigs -text
log.d/bin/logwatch.pl -text
log.d/bin/parselog.sh -text
log.d/bin/storelog.pl -text
log.d/configs/linux.tar.gz -text
log.d/configs/linux/conf/logfiles/messages.conf -text
log.d/configs/linux/conf/logwatch.conf -text
log.d/configs/linux/conf/services/arpwatch.conf -text
log.d/configs/linux/conf/services/automount.conf -text
log.d/configs/linux/conf/services/cisco.conf -text
log.d/configs/linux/conf/services/clam-update.conf -text
log.d/configs/linux/conf/services/courier.conf -text
log.d/configs/linux/conf/services/cron.conf -text
log.d/configs/linux/conf/services/dhcpd.conf -text
log.d/configs/linux/conf/services/exim.conf -text
log.d/configs/linux/conf/services/ftpd-messages.conf -text
log.d/configs/linux/conf/services/identd.conf -text
log.d/configs/linux/conf/services/imapd.conf -text
log.d/configs/linux/conf/services/in.qpopper.conf -text
log.d/configs/linux/conf/services/init.conf -text
log.d/configs/linux/conf/services/ipop3d.conf -text
log.d/configs/linux/conf/services/kernel.conf -text
log.d/configs/linux/conf/services/mailscanner.conf -text
log.d/configs/linux/conf/services/modprobe.conf -text
log.d/configs/linux/conf/services/mountd.conf -text
log.d/configs/linux/conf/services/named.conf -text
log.d/configs/linux/conf/services/oidentd.conf -text
log.d/configs/linux/conf/services/pam.conf -text
log.d/configs/linux/conf/services/pam_pwdb.conf -text
log.d/configs/linux/conf/services/pam_unix.conf -text
log.d/configs/linux/conf/services/pluto.conf -text
log.d/configs/linux/conf/services/pop3.conf -text
log.d/configs/linux/conf/services/portsentry.conf -text
log.d/configs/linux/conf/services/postfix.conf -text
log.d/configs/linux/conf/services/pound.conf -text
log.d/configs/linux/conf/services/proftpd-messages.conf -text
log.d/configs/linux/conf/services/pureftpd.conf -text
log.d/configs/linux/conf/services/qmail.conf -text
log.d/configs/linux/conf/services/raid.conf -text
log.d/configs/linux/conf/services/rt314.conf -text
log.d/configs/linux/conf/services/samba.conf -text
log.d/configs/linux/conf/services/secure.conf -text
log.d/configs/linux/conf/services/sendmail-largeboxes.conf -text
log.d/configs/linux/conf/services/sendmail.conf -text
log.d/configs/linux/conf/services/shaperd.conf -text
log.d/configs/linux/conf/services/smartd.conf -text
log.d/configs/linux/conf/services/sshd.conf -text
log.d/configs/linux/conf/services/sshd2.conf -text
log.d/configs/linux/conf/services/stunnel.conf -text
log.d/configs/linux/conf/services/sudo.conf -text
log.d/configs/linux/conf/services/syslogd.conf -text
log.d/configs/linux/conf/services/up2date.conf -text
log.d/configs/linux/conf/services/vpopmail.conf -text
log.d/configs/linux/conf/services/vsftpd.conf -text
log.d/configs/linux/conf/services/yum.conf -text
log.d/configs/linux/conf/services/zz-disk_space.conf -text
log.d/configs/linux/conf/services/zz-fortune.conf -text
log.d/configs/linux/scripts/logfiles/autorpm/applydate -text
log.d/configs/linux/scripts/logfiles/cron/applydate -text
log.d/configs/linux/scripts/logfiles/samba/applydate -text
log.d/configs/linux/scripts/logfiles/samba/removeheaders -text
log.d/configs/linux/scripts/logfiles/up2date/applydate -text
log.d/configs/linux/scripts/logfiles/up2date/removeheaders -text
log.d/configs/linux/scripts/logfiles/xferlog/applydate -text
log.d/configs/linux/scripts/logfiles/xferlog/removeheaders -text
log.d/configs/linux/scripts/logwatch.pl -text
log.d/configs/linux/scripts/services/arpwatch -text
log.d/configs/linux/scripts/services/automount -text
log.d/configs/linux/scripts/services/cisco -text
log.d/configs/linux/scripts/services/clam-update -text
log.d/configs/linux/scripts/services/clamav -text
log.d/configs/linux/scripts/services/clamav-milter -text
log.d/configs/linux/scripts/services/courier -text
log.d/configs/linux/scripts/services/cron -text
log.d/configs/linux/scripts/services/dhcpd -text
log.d/configs/linux/scripts/services/disk_space -text
log.d/configs/linux/scripts/services/exim -text
log.d/configs/linux/scripts/services/ftpd-messages -text
log.d/configs/linux/scripts/services/ftpd-xferlog -text
log.d/configs/linux/scripts/services/http -text
log.d/configs/linux/scripts/services/identd -text
log.d/configs/linux/scripts/services/imapd -text
log.d/configs/linux/scripts/services/in.qpopper -text
log.d/configs/linux/scripts/services/init -text
log.d/configs/linux/scripts/services/ipop3d -text
log.d/configs/linux/scripts/services/kernel -text
log.d/configs/linux/scripts/services/mailscanner -text
log.d/configs/linux/scripts/services/modprobe -text
log.d/configs/linux/scripts/services/mountd -text
log.d/configs/linux/scripts/services/named -text
log.d/configs/linux/scripts/services/oidentd -text
log.d/configs/linux/scripts/services/pam -text
log.d/configs/linux/scripts/services/pam_pwdb -text
log.d/configs/linux/scripts/services/pam_unix -text
log.d/configs/linux/scripts/services/pluto -text
log.d/configs/linux/scripts/services/pop3 -text
log.d/configs/linux/scripts/services/portsentry -text
log.d/configs/linux/scripts/services/postfix -text
log.d/configs/linux/scripts/services/pound -text
log.d/configs/linux/scripts/services/proftpd-messages -text
log.d/configs/linux/scripts/services/pureftpd -text
log.d/configs/linux/scripts/services/qmail -text
log.d/configs/linux/scripts/services/raid -text
log.d/configs/linux/scripts/services/rt314 -text
log.d/configs/linux/scripts/services/samba -text
log.d/configs/linux/scripts/services/secure -text
log.d/configs/linux/scripts/services/sendmail -text
log.d/configs/linux/scripts/services/sendmail-largeboxes -text
log.d/configs/linux/scripts/services/shaperd -text
log.d/configs/linux/scripts/services/smartd -text
log.d/configs/linux/scripts/services/sshd -text
log.d/configs/linux/scripts/services/sshd2 -text
log.d/configs/linux/scripts/services/stunnel -text
log.d/configs/linux/scripts/services/sudo -text
log.d/configs/linux/scripts/services/syslogd -text
log.d/configs/linux/scripts/services/tac_acc -text
log.d/configs/linux/scripts/services/up2date -text
log.d/configs/linux/scripts/services/vpopmail -text
log.d/configs/linux/scripts/services/vsftpd -text
log.d/configs/linux/scripts/services/yum -text
log.d/configs/linux/scripts/services/zz-disk_space -text
log.d/configs/linux/scripts/services/zz-fortune -text
log.d/configs/linux/scripts/shared/applyhttpdate -text
log.d/configs/linux/scripts/shared/applystddate -text
log.d/configs/linux/scripts/shared/applyusdate -text
log.d/configs/linux/scripts/shared/expandrepeats -text
log.d/configs/linux/scripts/shared/hostlist -text
log.d/configs/linux/scripts/shared/multiservice -text
log.d/configs/linux/scripts/shared/onlycontains -text
log.d/configs/linux/scripts/shared/onlyhost -text
log.d/configs/linux/scripts/shared/onlyservice -text
log.d/configs/linux/scripts/shared/remove -text
log.d/configs/linux/scripts/shared/removeheaders -text
log.d/configs/linux/scripts/shared/removeservice -text
log.d/db.conf -text
log.d/lib/Logwatch.pm -text
msyslog-v1.08a+smac/AUTHORS -text
msyslog-v1.08a+smac/COPYING -text
msyslog-v1.08a+smac/ChangeLog -text
msyslog-v1.08a+smac/INSTALL -text
msyslog-v1.08a+smac/Makefile -text
msyslog-v1.08a+smac/Makefile.in -text
msyslog-v1.08a+smac/NEWS -text
msyslog-v1.08a+smac/QUICK_INSTALL -text
msyslog-v1.08a+smac/README -text
msyslog-v1.08a+smac/config.log -text
msyslog-v1.08a+smac/config.status -text
msyslog-v1.08a+smac/configure -text
msyslog-v1.08a+smac/configure.in -text
msyslog-v1.08a+smac/doc/HOW-TO-UPGRADE -text
msyslog-v1.08a+smac/doc/HOW_TO_WRITE_A_MODULE -text
msyslog-v1.08a+smac/doc/README.mysql -text
msyslog-v1.08a+smac/doc/copyright -text
msyslog-v1.08a+smac/install-sh -text
msyslog-v1.08a+smac/src/Makefile -text
msyslog-v1.08a+smac/src/Makefile.in -text
msyslog-v1.08a+smac/src/TODO -text
msyslog-v1.08a+smac/src/config.h -text
msyslog-v1.08a+smac/src/config.h.in -text
msyslog-v1.08a+smac/src/examples/im_mymodule.c -text
msyslog-v1.08a+smac/src/examples/om_mymodule.c -text
msyslog-v1.08a+smac/src/examples/syslog.conf.classic -text
msyslog-v1.08a+smac/src/examples/syslog.conf.mysql -text
msyslog-v1.08a+smac/src/examples/syslog.conf.peo -text
msyslog-v1.08a+smac/src/examples/syslog.conf.pgsql -text
msyslog-v1.08a+smac/src/examples/syslog.conf.regex -text
msyslog-v1.08a+smac/src/man/BSDmakefile -text
msyslog-v1.08a+smac/src/man/BSDmakefile.in -text
msyslog-v1.08a+smac/src/man/GNUmakefile -text
msyslog-v1.08a+smac/src/man/GNUmakefile.in -text
msyslog-v1.08a+smac/src/man/Makefile -text
msyslog-v1.08a+smac/src/man/Makefile.in -text
msyslog-v1.08a+smac/src/man/im_bsd.8 -text
msyslog-v1.08a+smac/src/man/im_doors.8 -text
msyslog-v1.08a+smac/src/man/im_file.8 -text
msyslog-v1.08a+smac/src/man/im_linux.8 -text
msyslog-v1.08a+smac/src/man/im_streams.8 -text
msyslog-v1.08a+smac/src/man/im_tcp.8 -text
msyslog-v1.08a+smac/src/man/im_udp.8 -text
msyslog-v1.08a+smac/src/man/im_unix.8 -text
msyslog-v1.08a+smac/src/man/om_classic.8 -text
msyslog-v1.08a+smac/src/man/om_mysql.8 -text
msyslog-v1.08a+smac/src/man/om_peo.8 -text
msyslog-v1.08a+smac/src/man/om_pgsql.8 -text
msyslog-v1.08a+smac/src/man/om_regex.8 -text
msyslog-v1.08a+smac/src/man/om_tcp.8 -text
msyslog-v1.08a+smac/src/man/om_udp.8 -text
msyslog-v1.08a+smac/src/man/peochk.8 -text
msyslog-v1.08a+smac/src/man/syslog.conf.5 -text
msyslog-v1.08a+smac/src/man/syslogd.8 -text
msyslog-v1.08a+smac/src/modules.c -text
msyslog-v1.08a+smac/src/modules.h -text
msyslog-v1.08a+smac/src/modules/Makefile -text
msyslog-v1.08a+smac/src/modules/Makefile.in -text
msyslog-v1.08a+smac/src/modules/im_bsd.c -text
msyslog-v1.08a+smac/src/modules/im_doors.c -text
msyslog-v1.08a+smac/src/modules/im_file.c -text
msyslog-v1.08a+smac/src/modules/im_linux.c -text
msyslog-v1.08a+smac/src/modules/im_streams.c -text
msyslog-v1.08a+smac/src/modules/im_tcp.c -text
msyslog-v1.08a+smac/src/modules/im_udp.c -text
msyslog-v1.08a+smac/src/modules/im_unix.c -text
msyslog-v1.08a+smac/src/modules/ip_misc.c -text
msyslog-v1.08a+smac/src/modules/om_classic.c -text
msyslog-v1.08a+smac/src/modules/om_mysql.c -text
msyslog-v1.08a+smac/src/modules/om_peo.c -text
msyslog-v1.08a+smac/src/modules/om_pgsql.c -text
msyslog-v1.08a+smac/src/modules/om_regex.c -text
msyslog-v1.08a+smac/src/modules/om_tcp.c -text
msyslog-v1.08a+smac/src/modules/om_udp.c -text
msyslog-v1.08a+smac/src/modules/sql_misc.c -text
msyslog-v1.08a+smac/src/modules/sql_misc.h -text
msyslog-v1.08a+smac/src/modules/ttymsg.c -text
msyslog-v1.08a+smac/src/peo/Makefile -text
msyslog-v1.08a+smac/src/peo/Makefile.in -text
msyslog-v1.08a+smac/src/peo/TODO -text
msyslog-v1.08a+smac/src/peo/hash.c -text
msyslog-v1.08a+smac/src/peo/hash.h -text
msyslog-v1.08a+smac/src/peo/md5.h -text
msyslog-v1.08a+smac/src/peo/md5c.c -text
msyslog-v1.08a+smac/src/peo/peochk.c -text
msyslog-v1.08a+smac/src/peo/rmd160.c -text
msyslog-v1.08a+smac/src/peo/rmd160.h -text
msyslog-v1.08a+smac/src/peo/sha1.c -text
msyslog-v1.08a+smac/src/peo/sha1.h -text
msyslog-v1.08a+smac/src/peo/typedefs.h -text
msyslog-v1.08a+smac/src/syslogd.c -text
msyslog-v1.08a+smac/src/syslogd.h -text
win32/Makefile -text
win32/check.c -text
win32/dllmain.c -text
win32/dllmsg.mc -text
win32/eventlog.c -text
win32/eventlog.h -text
win32/getopt.c -text
win32/getopt.h -text
win32/log.c -text
win32/log.h -text
win32/loop.c -text
win32/main.c -text
win32/main.h -text
win32/registry.c -text
win32/service.c -text
win32/service.h -text
win32/setup.cmd -text
win32/support.c -text
win32/syslog.c -text
win32/syslog.h -text
win32/update.cmd -text
win32/wsock.c -text
win32/wsock.h -text
